<template>
    <div class="container-fluid pt-5">
        <div class="row flex-wrap">
            <Card v-for="(item,index) in cardData" v-bind:key="index" v-bind:item="item"/>
        </div>
        
    </div>
</template>
<script>
import Card from "../components/Card.vue";
export default {
    name: "CardView",
    components:{
        Card
    },
    data: function() {
        return{
            cardData:[]
        }
    },
    computed: {
        viewData: function() {
            return this.$store.state.viewData;
        }
    },
    created: function() {
        
        let titleCol = this.$store.state.cardTitleColumn;
        let selectedCols = this.$store.state.selectedColumns;
        let customColNames = this.$store.state.customColNames;

        this.viewData.forEach((element) => {
        
            let card = {
                title:element[titleCol],
                cols:{}
                };
           
            selectedCols.forEach((col) => {
                
                //dont add the title field in the bottom data
                if(col != titleCol){

                    //if the column has custom name, set that as the key
                    if(customColNames[col]) card.cols[customColNames[col]] = element[col];
                    else card.cols[col] = element[col];

                }
                
            })
            
            this.cardData.push(card);
        });
    }
}
</script>