<template>
  <div class="container pt-5">
    <div class="row text-left pl-3">
      <div class="h4">Select Views</div>
    </div>
    <div class="list text-left mb-3">
      <div class="input-group">
        <input
          type="text"
          class="form-control border-top-0 border-right-0 border-left-0 rounded-0"
          placeholder="Search"
        />
      </div>
      <ListItem v-for="item in listOptions"  v-bind:id="item.id" v-bind:title="item.name" v-bind:itemSelected="selectedView == item.id" v-on:click.native="listItemClick($event.target.id)" v-bind:key="item.id"/>
      
    </div>
    <router-link to="/customview" class="btn btn-dark rounded-0 px-5"
      >Customise View</router-link
    >
  </div>
</template>

<script>
import ListItem from "../components/list-item.vue";

export default {
  name: "CreateView",
  components:{
    ListItem
  },
  computed: {
    selectedView: function(){ return this.$store.getters.selectedView },
    listOptions: function() { return this.$store.getters.dataOptions }
  },
  methods: {
    listItemClick: function(selectedView) {
      if (selectedView != this.selectedView) {
        this.$store.commit("setSelectedView", selectedView);
      }
    }
  }
};
</script>

<style>
.container {
  width: 400px !important;
  margin: auto;
}
</style>

<style src="./viewlist.css"></style>
