<template>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-md-4 text-left">
                <div class="h5 font-weight-bold">Customise View</div>
                <div class="input-group">
                    <input
                    type="text"
                    class="form-control rounded-0 border-dark"
                    placeholder="Enter Title"
                    v-model="title"
                    />
                </div>
                <div class="h5 font-weight-bold mt-4">Choose Columns</div>
                <div class="list">
                    <div class="input-group">
                        <input
                        type="text"
                        class="form-control border-top-0 border-right-0 border-left-0 rounded-0 border-dark"
                        placeholder="Search"
                        v-model="columnSearch"
                        />
                    </div>
                    <ListItem v-for="(item, index) in columnsDisplay" v-bind:title="item" v-bind:itemSelected="isItemSelected(item)" v-bind:key="item" v-bind:id="item" v-on:click.native="listItemClick(index)"/>
                </div>
            </div>
            <div class="col-md-4 text-left">
                <div class="h5 font-weight-bold pt-5 mt-5">Choose Columns</div>
                <div class="list">
                    <div class="input-group">
                        <input
                        type="text"
                        class="form-control border-top-0 border-right-0 border-left-0 rounded-0 border-dark"
                        placeholder="Search"
                        v-model="customiseColSearch"
                        />
                    </div>
                    <CustomiseItem v-for="(item) in customiseColumns" v-bind:id="item" v-bind:key="item" v-bind:title="item" />
                </div>
            </div>
            <div class="col-md-4 text-left">
                
                <div v-if="colSelected">
                    <div class="h5 font-weight-bold pt-5 mt-5">Display</div>
                    <div class="list p-2">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="display-radio1" value="card" v-model="displayType" v-bind:disabled="selectedColumns.length > 12">
                            <label class="form-check-label mr-5" for="display-radio1">Card</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="display-radio2" value="table" v-model="displayType">
                            <label class="form-check-label" for="display-radio2">Table</label>
                        </div>

                    </div>
                    <div class="h5 font-weight-bold pt-5 mt-5" v-if="displayType == 'card'">Card Layout</div>
                    <div class="list p-2" v-if="displayType == 'card'">
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="layout-radio1" value="3col" v-model="cardType">
                            <label class="form-check-label mr-5" for="layout-radio1">3 columns</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="layout-radio2" value="2col" v-model="cardType">
                            <label class="form-check-label" for="layout-radio2">2 columns</label>
                        </div>

                    </div>

                </div>
                <div class="text-center pt-5">
                    <button class="btn btn-dark rounded-0 px-5 mt-5" v-on:click="btnClick" v-bind:disabled="dataSelected">{{btnText}}</button>
                </div>
                
            </div>
        </div>
        
    </div>
</template>
<script>
import ListItem from "../components/list-item.vue";
import CustomiseItem from "../components/customise-item.vue";
import {createRequester} from "../api.js";

export default {
    name: "CustomView",
    components:{
        ListItem,
        CustomiseItem
    },
    data:function(){
        return{
            columnSearch:"",
            customiseColSearch: "",
            colSelected: false,
        }
    },
    computed:{
        
        columns: function(){
            return this.$store.getters.columns;
        },

        title: {
            get: function() {
                return this.$store.getters.title; 
            },
            set: function(val){
                this.$store.commit("setTitle",val);
            }
        },

        cardType:{
            get: function(){
                return this.$store.getters.cardType;
            },
            set: function(value){
                this.$store.commit("setCardType",value)
            }
        },

        displayType:{
            get: function(){
                return this.$store.getters.displayType;
            },
            set: function(value){
                this.$store.commit("setDisplayType",value);
            }
        },

        selectedColumns: function(){
            return this.$store.getters.selectedColumns;
        },

        customiseColumns: function(){
            if(this.customiseColSearch && this.customiseColSearch != ""){
                return this.selectedColumns.filter((val) => {
                    return val.includes(this.customiseColSearch);
                })
            }
            else return this.selectedColumns;
        },

        columnsDisplay: function(){
            if(this.columnSearch && this.columnSearch != ""){
                return this.columns.filter((val) => {
                    return val.includes(this.columnSearch);
                });
            }
            else return this.columns;
        },

        btnText: function(){
            return this.colSelected ? "Preview" : "Next";
        },
        dataSelected: function() {
            return (this.title == "" || this.selectedColumns.length <= 0 || this.$store.state.cardTitleColumn == "");
        }
    },
    methods:{
        listItemClick: function(id){
            let item = this.columns[id];
            let selectedCols = this.selectedColumns;
            if(!selectedCols.includes(item)){
                selectedCols.push(item);
            }
            else{
                let i = selectedCols.indexOf(item);
                selectedCols.splice(i,1);   
            }
            this.$store.commit("setSelectedColumns",selectedCols);
        },
        isItemSelected: function(item){
            return (this.selectedColumns.includes(item));
        },
        btnClick: function(){
            if(!this.colSelected) this.colSelected = true;

            else{
                if(this.displayType == "table") this.$router.push("/view/" + this.$store.state.title + "/table");
                if(this.displayType == "card") this.$router.push("/view/" + this.$store.state.title + "/card");
            }
        }
    },
    created: function() {
        let dataURL = "";
        if (this.$store.state.selectedView == '0') {
            dataURL = "security.json";
        }
        else if (this.$store.state.selectedView == '1') {
            dataURL = "client_holding.json";
        }
        //store the outer this object in a variable
        let _this = this;

        createRequester({ 
            url: dataURL,
            method: 'GET'
        })
        .then(response => {
            if(response.status && response.status == 'unsuccess')
                console.log(response.message || response.error)
            else{
                _this.$store.commit("setViewData",response.data);
            }
        })
        .catch(error => { 
            console.log(error);
        });
    }
}
</script>
<style src="./viewlist.css"></style>