<template>
  <div
    class="container text-center d-flex justify-content-center align-items-center"
  >
    <router-link to="/createview" class="btn btn-dark rounded-0 px-5"
      >Create View</router-link
    >
  </div>
</template>

<script>
export default {
  name: "Home"
};
</script>

<style>
.container {
  height: 100%;
}
</style>
