<template>
    <div class="container-fluid p-3">
        <div class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col" class="text-left">#</th>
                    <th scope="col" v-for="h in headers" v-bind:key="h" class="text-left">{{h}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row,index) in rows" v-bind:key="index">
                    <td class="text-left" v-for="(cell,index) in row" v-bind:key="cell+index">{{cell}}</td>
                </tr>
            </tbody>
        </div>
    </div>
</template>
<script>
export default {
    name: "TableView",
    computed: {
        headers: function() {
            let customNames = this.$store.state.customColNames;
            return this.$store.state.selectedColumns.map((col) => {
                if (customNames[col]) return customNames[col];
                else return col;
            });
            
        },
        rows: function() {
            //2d array, each element is array containing cells for that row
            let rows = [];

            //make array, push values of each selected column of every object in the array
            this.$store.state.viewData.forEach((element,index) => {
                rows[index] = [];
                rows[index].push(index+1);
                this.$store.state.selectedColumns.forEach(col => {
                    if(element[col]) rows[index].push(element[col]);
                    else rows[index].push("null");
                });
            });

            return rows;
        }
    }
}
</script>
<style>
</style>