<template>
    <div class="col-12 p-3" v-bind:class="layoutClasses">
        <div class="card text-left p-2">
            <small class="ml-2 font-weight-bold text-uppercase text-truncate">{{item.title}}</small>
            <div class="w-100 my-2"></div>
            <div class="d-flex flex-wrap">
                <div class="d-flex flex-column mx-2 mb-2" v-for="(value,key) in item.cols" v-bind:key="key">
                    <small class="text-muted text-uppercase">{{key}}</small>
                    <small class="font-weight-bold text-uppercase">{{value}}</small>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
export default {
    name:"Card",
    props:["item"],
    computed: {
        layoutClasses: function() {
            let cols = parseInt(this.$store.state.cardType[0]);
        
            if(cols == 3) return "col-lg-4 col-md-6";
            else if(cols == 2) return "col-md-6";
            else return "";
        }
    }
}
</script>
<style>
    .card{
        min-height:150px;
    }
</style>