<template>
    <div>
        <div class="d-flex align-items-baseline p-2">
            <div class="font-weight-bold text-truncate">{{title}}</div>
            <a class="ml-auto badge badge-light" v-on:click="setColAsCardTitle">{{badgeLabel}}</a>
        </div>
        <div class="d-flex p2 m-2 border border-dark text-right align-items-baseline">
            <div class="input-group input-group-sm col px-0">
                <input type="text" class="form-control label-input border-left-0 border-right-0 border-top-0 rounded-0" aria-label="Small" aria-describedby="inputGroup-sizing-sm" v-model="label">
            </div>
            <small class="text-muted ml-auto display-label col">Display Label</small>
        </div>
    </div>
</template>
<script>
export default {
    name: "CustomiseItem",
    props:["title"],
    data: function() {
        return{
            label:this.title
        }
    },
    computed:{
        badgeLabel: function() {
            if(this.$store.state.cardTitleColumn == this.title) return "Title";
            else return "Set as Title";
        }
    },
    watch:{
        label: function(newVal, oldVal){
            if(newVal != null && newVal != "" && newVal != oldVal && newVal != this.title){
                this.$store.commit("setCustomColName",{title:this.title,name:newVal});
            }
        }
    },
    methods:{
        setColAsCardTitle: function() {
            if(this.title != this.$store.state.cardTitleColumn) this.$store.commit("setCardTitleColumn",this.title);
        }
    }
}
</script>