<template>
    <a
        id="0"
        class="list-group-item list-group-item-action border-0 text-truncate d-flex"
        v-bind:class="{ selected: itemSelected }"
      >
        {{title}}
        <span class="material-icons text-success ml-auto" v-if="itemSelected"
          >done</span
        >
    </a>
</template>

<script>
export default {
    name: "ListItem",
    props:["title","itemSelected"]
}
</script>
<style>
  a:hover, a:active{
    cursor: pointer;
  }
</style>
